@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typekit fonts (loaded in app/layout.js) */
.matrix {
  font-family: "matrix-ii", serif;
  font-weight: 400;
  font-style: normal;
}

.matrix-OL {
  font-family: "matrix-ii-display-inline-ext", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Arvo - Regular */
.arvo {
  font-family: "arvo", serif;
  font-weight: 400;
  font-style: normal;
}

/* Arvo - Italic */
.arvo-italic {
  font-family: "arvo", serif;
  font-weight: 400;
  font-style: italic;
}

/* Arvo - Bold */
.arvo-bold {
  font-family: "arvo", serif;
  font-weight: 700;
  font-style: normal;
}
